# git
.git

# Vercel
.vercel
vercel.json

# vscode
.vscode

# project file
src/client
.env
.env.example
node_modules
package-lock.json
babel.config.js
.prettierrc.yml
.editorconfig
.gitignore
public/index.html

# webpack
webpack

