# git
.git

# github
.github

# husky
.husky

# vscode
.vscode

# project file
node_modules
docs
public/index.html
src/client

.editorconfig
.env
.env.example

.eslintignore
.eslintrc.yml

.gitignore

.npmignore

.prettierignore
.prettierrc.yml

package-lock.json

# webpack
webpack

