html {
    scroll-behavior: smooth;
}

#app {
    .navbar .home-link:before {
        display: inline-block;
        content: '';
        width: 6rem;
        height: 2.2rem;
        background: url('/svg/Logo.svg') no-repeat;
        background-size: 100% 100%;
    }

    .page-edit {
        overflow: inherit;
    }
}
